@import 'styles/shared';

.cast__list {
  @extend %list;

  border-radius: 6px;

  @media screen and (min-width: $tablet) {
    padding: 0 0 20px 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.cast__item {
  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}

.cast__name {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.cast__image {
  border-radius: 6px;

  @media screen and (min-width: $tablet) {
    width: 150px;
    height: 200px;
  }
}
